.fakeScreen{
  margin-top:50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  width: 80%;
}

.user{
  background-color: #f1f0f0;
  border-top-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
  border-top-right-radius: 1.3em;
  margin: 5px;
  padding: 6px 12px;
}

.sergey{
  border-radius: 1.3em;
  background-color: #0084ff;
  color: #fff;
  margin: 5px;
  padding: 6px 12px;
}

.goButton{
  margin: 10px;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.whatSergeyCanDo{
  margin-top:50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  width: 100%;
  background-color:
}

.possibilities{
  margin-top: 20px;
}

.h5{
  margin:20px;
}
